<%= form_with(model: patient, class: 'overflow-auto pb-[5dvh] text-sm flex justify-center') do |form| %>
  <div class="inline">
    <div class="my-5">
      <%= form.label "Identificación" %>
      <%= form.text_field :identification, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: 'Cedula de ciudadanía o NIT' %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:identification).join(', ').split[1..-1].join(" ") if patient.errors[:identification].any? %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label "Nombre completo" %>
      <%= form.text_field :name, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: 'Nombre del paciente' %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:name).join(', ').split[1..-1].join(" ") if patient.errors[:name].any? %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label "Masa (Kg)" %>
      <%= form.number_field :mass, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: 'Masa' %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:mass).join(', ').split[1..-1].join(" ") if patient.errors[:mass].any? %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label "Altura (m)" %>
      <%= form.number_field :height, step: 0.01, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: "Altura" %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:height).join(', ').split[1..-1].join(" ") if patient.errors[:height].any? %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label "Presión sistólica" %>
      <%= form.number_field :systolic_pressure, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: "Presión sistólica" %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:systolic_pressure).join(', ').split[2..-1].join(" ") if patient.errors[:systolic_pressure].any? %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label "Presión diastólica" %>
      <%= form.number_field :diastolic_pressure, class: "block text-sm shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder: "Presión diastólica" %>
      <div class="text-red-500 mt-1">
        <%= patient.errors.full_messages_for(:diastolic_pressure).join(', ').split[2..-1].join(" ") if patient.errors[:diastolic_pressure].any? %>
      </div>
    </div>
    <%= form.submit "Crear paciente", class: "rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium hover:brightness-105 cursor-pointer" %>
    <%= link_to "Volver al inicio", root_path, class: "ml-2 py-2 border border-gray-300 bg-[#e3e3e3] hover:brightness-105 rounded-lg px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
