<div id="<%= dom_id patient %>">
  <div class="flex flex-col text-sm justify-start flex-wrap gap-2">
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Nombre:</span>
      <%= patient.name %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Identificación:</span>
      <%= patient.identification %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Presión arterial:</span>
      <%= patient.calcularCategoriaPresionArterial %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Categoría de masa corporal:</span>
      <%= patient.calcularCategoriaMasaCorporal %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Masa corporal máxima:</span>
      <%= patient.calcularMasaMaximaNormal %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Indice de masa corporal:</span>
      <%= patient.calcularIndiceMasaCorporal %>
    </div>
  </div>
</div>
